<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "https://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="FileTabCharacter"/>
    <module name="FileLength">
        <property name="max" value="1000"/>
    </module>
    <module name="LineLength">
        <property name="max" value="125"/>
    </module>
    <module name="TreeWalker">
        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="100"/>
        </module>
        <module name="EmptyCatchBlock"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="org.junit.*"/>
        </module>
        <module name="NeedBraces"/>
    </module>
    <module name="Header">
        <property name="headerFile" value="header.txt"/>
    </module>
</module>
